# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__
 
 * Create and Edit a Jupyter Notebook
 * List popular languages for Data Science
 * List some common libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. MatPlotLib
4. Scikit-Learn
5. Keras
6. TensorFlow

| Data Science Tools |
| ----------------- |
| Jupyter Notebook |
| MySQL |
| PixieDust |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Cristhian Coello Villalta